.body{
    background-color: #1B1C1E;
}


.splash-wrapper {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  
  lottie-player {
    height: 95vh;
    align-content: center;
    box-sizing: content-box;
    transform: scale(0.8);
    /* border: 2rem solid #45d2fd65; */
    animation: 2s splash infinite;
  }
  
  @keyframes splash{
    0%{
      opacity: 1;
      transform: scale(0.8);
    }
    50%{
      opacity: 0.75;
      transform: scale(0.85);
    }
    100%{
          opacity: 1;
      transform: scale(0.8);
    }
  }